<select (change)="onChangeCity($event.target.value)" style="width: 100px;">
  <option value="seoul">서울</option>
  <option value="london">영국</option>
  <option value="newyork">뉴욕</option>
  <option value="tokyo">도쿄</option>
  <option value="alaska">알래스카</option>
  <option value="spain">스페인</option>
  <option value="swiss">스위스</option>
  <option value="beijing">베이징</option>
  <option value="kathmandu">카트만두</option>
  <option value="laos">라오스</option>
  <option value="hanoi">하노이</option>
</select>

<app-weather></app-weather>
<app-music></app-music>
